body,html{
	background: #f5f5f5;
	font-family: 'Quicksand', sans-serif;
 	text-align: center;
}

/*------------------------navbar----------------------*/
.navbar-nav {
	margin-left: 10px;
    font-weight: 300;
}

.my-nav {
	z-index: 999;
	max-width: 100%;
	background: #2F4858; 
}

#mainNav{
	font-size: 22px;
}

#mainNav .nav-link {
	color: #ffffff;
}

#mainNav .nav-link:hover {
	color: #F6AE2D;
}

#mainNav .logo {
	filter: grayscale(100%);
}

.dropdown-menu {
    background: #2F4858; 
    text-align: center;
    font-size: 20px;
}

.dropdown-item {
    color: #ffffff;
}

.dropdown-item:hover{
    color: #F6AE2D;
    background-color: #2F4858; 
}

.collapse{
    text-align: start;
}

/*------------------------footer----------------------*/
.page-footer {
	background: #2f4858;
    color: white;
    width: 100%;
}
.page-footer .row  {
	text-align: center;
}
.footer-links {
	color: #ffffff;
}
.footer-links:hover {
	color: #F6AE2D;
	text-decoration: none;
}

.orange{
    color: #F6AE2D;
}

/*------------------------scroll button----------------------*/
.scrolltotop {
	width: 40px;
	height: 40px;
	position: fixed;
	bottom: 80px;
	right: 30px;
	line-height: 40px;
	text-align: center;
	background: #dcdcdc;
	color: #F6AE2D;
	border-radius: 10px;
	display: none;
}
.scrolltotop:hover{
	color: black;
}


.col-lg-6 {
    padding-left: 0;
    padding-right: 0;
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

/*----------------CSS code for cards----------------*/
	
.card {
	border-radius :10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	transition: 0.3s;
	width: 80%;
	height: 95%;
	margin:auto;
	margin-top: 4%;	
	margin-bottom: 1%;
}

img{
	border-radius: 10px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
	padding: 2px 16px;
}

.card-body{
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	font-weight: 550;
}

.card-text {
	text-align: justify;
}

.card-title{
	font-weight: bold;
}
.more {
	display: none;
}

button{
	
}
button:focus{
	outline: 0;
}
.readmore{
	font-size: 15px;
	color: #F5F5F5; 
	background-color:#F6AE2D;
	border-radius: 10px;
	padding: 10px;
}
.readmore2{
	font-size: 15px;
	color: #F5F5F5; 
	background-color:#F6AE2D;
	border-radius: 10px;
	padding: 10px;
}
.readmore3{
	font-size: 15px;
	color: #F5F5F5; 
	background-color:#F6AE2D;
	border-radius: 10px;
	padding: 10px;
}
.readmore:hover{
	color: #F5F5F5;
}
.newtheme{
	margin: center;
	font-size: 120%;
	margin-top: 9%;
	margin-bottom: 7%;
	width: 72%;
	border-radius: 10px;
	background-color: #f5f5f5;
	color: black;
	border: 3px dashed black;
	font-weight: bold;
}

.newtheme:hover{
	text-decoration: none;
	color: #F6AE2D;
	background-color: #f5f5f5;
	border: 3px dashed black;
}

.btn {
	 padding: 1% 3%;
	 font-size: 80%;
	 background-color:#B22222;
	 border: none;
	 color: white;
	 margin-left: 90%;
	 margin-top: 20%
	 margin-bottom:0%;
}
.newcard{
	font-size: 170%;
	margin-top: 7%;
	margin-bottom: 7%;
	width: 30%;
	height: 200%;
	border-radius: 12px;
	background-color: #f5f5f5;
	color: black;
	border: 3px dashed black;
	font-weight: bold;
}

.newcard:hover{
	text-decoration: none;
	color: #F6AE2D;
	background-color: #f5f5f5;
	border: 3px dashed black;
}

.cardsettings{
	margin-left: 47%; 
    border-radius: 10px;
    width:40px;
    height:40px;
}
.themesettings{
	font-size:80%;
	width:40px;
	height:35px;

}


.titlesec{
		border-right: 3px solid #F6AE2D;
		font-size: 26px;
		text-align: right;
		margin-top: 70px;
		font-weight: 600;
		margin-bottom: 40px;
	}


/*----------------CSS code for tablets or landscape in mobiles ----------------*/
@media only screen and (max-width: 1024px){
	#mainNav{
		font-size: 20px;
	}
	.titlesec{
    	font-size: 24px;
    	text-align:left;
    	border-left:3px solid #F6AE2D;
    	border-right: 3px solid #F5F5F5; 
    	margin-left: 12px;
		font-weight: 600;
    }

    .newcard{
    	font-size: 100%;
    	width: 50%;
    }

    .newtheme{
    	width: 100%;
    }
    
}


@media only screen and (min-width:767px) and (max-width:905px){
	#mainNav{
		font-size: 18px;
	}
	#mainNav .nav-link {
	   padding-left: 0px;
    }

    .links{
    	font-size: 16px;
    	margin:10px;
    }
}