html{
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100vh;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	background-image: url('earth2.jpg');
	background-size: cover;
}
a {
	color: #4a7c5d;
	text-decoration: none;
}
#signup {	
	margin-top: 70px;
}
#login{
	width: 350px;
	padding-top: 60px;
	padding-bottom: 60px;
	padding-left: 40px;
	padding-right: 40px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	text-align: center;
	border-radius: 10px;
}

#login h1 {
	color: #282828;
}

#login input[type = email], #login input[type = password] {
	border: 0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #f5f5f5;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	border-radius: 10px;
	transition: 0.25s;
}
#login input[type = email]:focus, #login input[type = password]:focus{
	border-color: #4a7c5d;
}

#login input[type= submit]{
	width: 300px;
	border: 0;
	background: #4a7c5d;
	display: block;
	margin: 20px auto;
	text-align: center;
	padding: 14px 40px;
	outline: none;
	border-radius: 10px;
	transition: 0.25s;
	cursor: pointer;	
}

