html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}

img {
	width: 30%;
	height: 30%;
    filter: grayscale(100%);
    display: block;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}

h2 {
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    color: #2F4858;
}

a {
    color: #F6AE2D;
    text-decoration: none;
    font-weight: 800;
}

p{
    color: #2F4858;
    font-size: 18px;
}

#firstname {
    display: block;
	border: none;
	background: none;
    margin: 20px auto;
	text-align: center;
	border: 1px solid #2F4858;
	padding: 15px 10px;
	width: 350px;
	outline: none;
	border-radius: 10px;
}

#lastname {
    display: block;
	border: none;
	background: none;
    margin: 20px auto;
	text-align: center;
	border: 1px solid #2F4858;
	padding: 15px 10px;
	width: 350px;
	outline: none;
	border-radius: 10px;
}

#username , #signup input[type= email] , #signup input[type=password] {
	border: none;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #2F4858;
	padding: 14px 10px;
	width: 350px;
	outline: none;
	border-radius: 10px;
}

#signup input[type=text]:focus , #signup input[type= email]:focus , #signup input[type=password]:focus {
	border: 1.5px solid #F6AE2D;
}

#signup input[type=submit] {
	border: none;
	background: #7198a8;
	color: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 1px solid #2F4858;
	padding: 14px 10px;
	width: 350px;
	outline: none;
	border-radius: 10px;
    font-size: 14px;
}

#loginlink {	
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
}

@media only screen and (min-width:1000px) {

    body {
        min-height: 100%;
        background-image: url('mountain.jpg');
        background-size: cover;
        background-repeat: no-repeat;
     }

    img {
	    width: 30%;
	    height: 30%;
        filter: grayscale(100%);
        display: block;
        margin-top: 50px;
        margin-left: auto;
        margin-right: auto;
    } 

    #signup {
        width: 350px;
        position: absolute;
        padding: 5px 10px;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        background: #f5f5f5;
        text-align: center;
        border-radius: 10px;
        opacity: 0.9;
    }
    
    #firstname , #lastname {
        display: initial;
        border: none;
        background: none;
        margin-top: 10px;
        margin-bottom: 5px;;
        text-align: center;
        border: 1px solid #2F4858;
        padding: 15px 10px;
        width: 135px;
        outline: none;
        border-radius: 10px;
    }
    
    #username , #signup input[type= email] , #signup input[type=password] {
        border: none;
        background: none;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 1px solid #2F4858;
        padding: 14px 10px;
        width: 300px;
        outline: none;
        border-radius: 10px;
    }
    
    #signup input[type=text]:focus , #signup input[type= email]:focus , #signup input[type=password]:focus {
        border: 1px solid #F6AE2D;
    }
    
    #signup input[type=submit] {
        border: none;
        background: #2F4858;
        color: white;
        display: block;
        margin: 20px auto;
        text-align: center;
        border: 1px solid #2F4858;
        padding: 14px 10px;
        width: 300px;
        outline: none;
        border-radius: 10px;
        font-size: 16px;
    }
    
    #signup input[type=submit]:hover {
        background: #F6AE2D;
    }

    #loginlink {	
        text-align: center;
        margin-top: 70px;
        margin-bottom: 20px;
    }
}