html {
   margin: 0px;
   height: 100%;
}

body {
   margin: 0px;
   min-height: 100%;
   background-image: url('mountain.jpg');
   background-size: cover;
   font-family: 'Quicksand', sans-serif;
}

h2 {
	padding-bottom: 10px;
}

img {
	width: 30%;
	height: 30%;
	filter: grayscale(100%);
}
 a {
 	color: #7198a8;
	text-decoration: none;
 }

 #loginlink {	
	margin-top: 70px;
}

#login {
	width: 350px;
	position: absolute;
	padding: 5px 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: white;
	text-align: center;
	border-radius: 10px;
}

#firstname , #lastname {
	border: none;
	background: none;
	margin-top: 10px;
	text-align: center;
	border: 1.5px solid #f5f5f5;
	padding: 15px 10px;
	width: 135px;
	outline: none;
	border-radius: 10px;
}

#username , #login input[type= email] , #login input[type=password] {
	border: none;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 1.5px solid #f5f5f5;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	border-radius: 10px;
}

#login input[type=text]:focus , #login input[type= email]:focus , #login input[type=password]:focus {
	border: 1.5px solid #3d5863;
}

#login input[type=submit] {
	border: none;
	background: #7198a8;
	color: white;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 1px solid grey;
	padding: 14px 10px;
	width: 300px;
	outline: none;
	border-radius: 10px;
}

#login input[type=submit]:hover {
	background: #3d5863;
}